
@media only screen and (max-width: 600px) {
    .main{
        padding: 10px;
        height: 100vh;
        width: 100%;
    }
    .layout{
        display: flex;
    }
    
    .sidebar{
        min-height: 100%;
        width: 300px;
        background-color: rgb(82, 60, 124);
        background-image: radial-gradient(rgba(211, 211, 247, 0.5),rgba(124, 122, 240, 0.5), rgba(82, 60, 124, 0.5));
        box-shadow: 0 0 2px gray;
        margin-right: 20px;
        color: white;
    }
    
    .content{
        width: 100%;
        height: 100%;
    }
    
    .header{
        height: 10vh;
        margin-bottom: 20px;
        background-color: rgb(82, 60, 124);
        background-image: radial-gradient(rgba(211, 211, 247, 0.4),rgba(124, 122, 240, 0.5), rgba(82, 60, 124, 0.5));
        
    }
    
    .body{
        height: 85vh;
        margin-bottom: 20px;
        box-shadow: 0 0 2px gray;
        background-color: white;
        background-image:linear-gradient(rgba(211, 211, 247, 0.5), rgba(82, 60, 124, 0.5)), url("docbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: scroll;
    }
    
    .logo h6{
        font-size: 1.5rem;
        text-align: center;
        margin: 20px 0px;
    }
/* .menu{display: none;} */
    .menu{
        margin-top: 50px;
    }
    .menu-item{
        margin-top: 30px;
    }
    .menu-item a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }
    .menu-item i {
        font-size: 1.2rem;
        margin: 0 15px;
    }
    .active{
        background-color: white;
        padding: 10px;
    }
    .active a, .active i {
        color: rgb(82, 60, 124);
    }
    
    .header-content{
        margin: 0 15px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header-content i{
        margin-right: 20px;
        font-size: 1.2rem;
    }
    .header-content a {
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        margin: 0 10px;
        text-transform: uppercase;
    }
    
    .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    
    .searchBar input{
        border-radius: 10px;
    }
    .searchBar button{
        border-radius: 10px;
        padding-left: 3px;
        padding-right: 3px;
    }
}




@media only screen and (min-width: 600px) {
    /* For tablets: */
    .main{
        padding: 10px;
        height: 100vh;
    }
    .layout{
        display: flex;
    }
    
    .sidebar{
        min-height: 100%;
        width: 300px;
        background-color: rgb(82, 60, 124);
        background-image: radial-gradient(rgba(211, 211, 247, 0.5),rgba(124, 122, 240, 0.5), rgba(82, 60, 124, 0.5));
        box-shadow: 0 0 2px gray;
        margin-right: 20px;
        color: white;
    }
    
    .content{
        width: 100%;
        height: 100%;
    }
    
    .header{
        height: 10vh;
        margin-bottom: 20px;
        background-color: rgb(82, 60, 124);
        background-image: radial-gradient(rgba(211, 211, 247, 0.4),rgba(124, 122, 240, 0.5), rgba(82, 60, 124, 0.5));
        
    }
    
    .body{
        height: 85vh;
        margin-bottom: 20px;
        box-shadow: 0 0 2px gray;
        background-color: white;
        background-image:linear-gradient(rgba(211, 211, 247, 0.5), rgba(82, 60, 124, 0.5)), url("docbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: scroll;
    }
    
    .logo h6{
        font-size: 1.5rem;
        text-align: center;
        margin: 20px 0px;
    }
    
    .menu{
        margin-top: 50px;
    }
    .menu-item{
        margin-top: 30px;
    }
    .menu-item a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }
    .menu-item i {
        font-size: 1.2rem;
        margin: 0 15px;
    }
    .active{
        background-color: white;
        padding: 10px;
    }
    .active a, .active i {
        color: rgb(82, 60, 124);
    }
    
    .header-content{
        margin: 0 15px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header-content i{
        margin-right: 20px;
        font-size: 1.2rem;
    }
    .header-content a {
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        margin: 0 10px;
        text-transform: uppercase;
    }
    
    .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    
    .searchBar input{
        border-radius: 10px;
    }
    .searchBar button{
        border-radius: 10px;
        padding-left: 3px;
        padding-right: 3px;
    }
    
}
  
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .main{
        padding: 10px;
        height: 100vh;
    }
    .layout{
        display: flex;
    }
    
    .sidebar{
        min-height: 100%;
        width: 300px;
        background-color: rgb(82, 60, 124);
        background-image: radial-gradient(rgba(211, 211, 247, 0.5),rgba(124, 122, 240, 0.5), rgba(82, 60, 124, 0.5));
        box-shadow: 0 0 2px gray;
        margin-right: 20px;
        color: white;
    }
    
    .content{
        width: 100%;
        height: 100%;
    }
    
    .header{
        height: 10vh;
        margin-bottom: 20px;
        background-color: rgb(82, 60, 124);
        background-image: radial-gradient(rgba(211, 211, 247, 0.4),rgba(124, 122, 240, 0.5), rgba(82, 60, 124, 0.5));
        
    }
    
    .body{
        height: 85vh;
        margin-bottom: 20px;
        box-shadow: 0 0 2px gray;
        background-color: white;
        background-image:linear-gradient(rgba(211, 211, 247, 0.5), rgba(82, 60, 124, 0.5)), url("docbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: scroll;
    }
    
    .logo h6{
        font-size: 1.5rem;
        text-align: center;
        margin: 20px 0px;
    }
    
    .menu{
        margin-top: 50px;
    }
    .menu-item{
        margin-top: 30px;
    }
    .menu-item a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }
    .menu-item i {
        font-size: 1.2rem;
        margin: 0 15px;
    }
    .active{
        background-color: white;
        padding: 10px;
    }
    .active a, .active i {
        color: rgb(82, 60, 124);
    }
    
    .header-content{
        margin: 0 15px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header-content i{
        margin-right: 20px;
        font-size: 1.2rem;
    }
    .header-content a {
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        margin: 0 10px;
        text-transform: uppercase;
    }
    
    .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    
    .searchBar input{
        border-radius: 10px;
    }
    .searchBar button{
        border-radius: 10px;
        padding-left: 3px;
        padding-right: 3px;
    }
}